// breathing dots fade in and out effect
// via http://jsfiddle.net/5kXHJ/
$animation_dur1: 9s;
$animation_dur2: 7s;

body {
  height: 100%; /* no scrolling plz */
}

img {
  animation: fade $animation_dur1 forwards;
  -webkit-animation: fade $animation_dur1 forwards;
  -moz-animation: fade $animation_dur1 forwards;
  -o-animation: fade $animation_dur1 forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}
li:nth-child(3n + 4) img {
  animation: fade $animation_dur2 forwards;
  -webkit-animation: fade $animation_dur2 forwards;
  -moz-animation: fade $animation_dur2 forwards;
  -o-animation: fade $animation_dur2 forwards;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
