$background-color: black;
$container-size: 147px; // 127px; // 106px;
$circle-size: 140px; // 120px; // 50px;

html * {
  margin: 0;
  padding: 0;
  background-color: $background-color;
}
body {
  height: 100%;
}

/* grid layout */
ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($container-size, 2fr));
  grid-auto-rows: $container-size;
  grid-auto-flow: dense;
}

/* make them squares into circles */
ul > li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  width: $circle-size;
  height: $circle-size;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
}
img {
  display: block;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
